.smallClouds {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cloud1 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 50%;

  animation: cloud1 190s linear infinite;
}

@keyframes cloud1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cloud2 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 50%;

  animation: cloud2 160s linear infinite;
}

@keyframes cloud2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cloud3 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 50%;

  animation: cloud3 140s ease-in-out infinite;
}

@keyframes cloud3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cloud4 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 50%;

  animation: cloud4 120s linear infinite;
}

@keyframes cloud4 {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cloud5 {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: 50%;

  animation: cloud5 100s linear infinite;
}

@keyframes cloud5 {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(100%);
  }
}
